<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<meta name="google" content="notranslate" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

<title>Redirect | Blog API</title>

<style>

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.centered {
text-align: center;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}
</style>
</head>
    <body>
        <div class= "container">
            <div class="centered">
                <h3>Click <a href={{ link }}>here</a> to complete your payment</h3> </h3> 
            </div>
        </div>
    </body>
</html>